services:

  # Nginx Reverse Proxy Service
  # This service listens on host ports 80/443 and routes traffic
  schluesselmomente-nginx-proxy:
    build:
      context: ./ 
      dockerfile: dockerfile
    image: schluesselmomente-nginx-proxy # Name for the built image
    container_name: schluesselmomente_nginx_proxy 
    restart: unless-stopped # Restart policy
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf:ro
    networks:
      - app-network
      - schluesselmomente-network

  schluesselmomente:
    build:
      context: ./fe
      dockerfile: dockerfile
    image: schluesselmomente
    container_name: schluesselmomente
    restart: unless-stopped
    networks:
      - schluesselmomente-network

  schluesselmomente-backend:
    build:
      context: ./be
      dockerfile: dockerfile
    image: schluesselmomente-be
    container_name: schluesselmomente-be
    restart: unless-stopped
    networks:
      - schluesselmomente-network

networks:
  schluesselmomente-network:
  app-network:
    external: true
