name: Build and Deploy

on:
  workflow_dispatch:
  push:
    branches:
      - main

env:
  IMAGE_NAME: ${{ github.repository }}
  REGISTRY: ghcr.io

jobs:

  build-and-push-fe:
    permissions:
      contents: read
      packages: write
    uses: ./.github/workflows/build-and-push.yml
    with:
      image_name: ghcr.io/${{ github.repository }}
      context: fe
      dockerfile: fe/dockerfile
      build_args: |
        SKIP_BUILD_STATIC_GENERATION=true

  build-and-push-be:
    permissions:
      contents: read
      packages: write
    uses: ./.github/workflows/build-and-push.yml
    with:
      image_name: ghcr.io/${{ github.repository }}-be
      context: be
      dockerfile: be/dockerfile
      build_args: |
        SKIP_BUILD_STATIC_GENERATION=true
